@page "/productsShow"
@using DietownikApp.Models
@using System.Text.Json
@inject IHttpClientFactory ClientFactory
@inject DietownikApp.Services.DietownikAPIService Dietownik
<h3>Products</h3>

@if (data == null)
{
    <p>Loading ...</p>
}
else
{
    @foreach(var product in products)
    {
        <li>@product.name</li>
    }
}
@code {
    private Products data;
    private IEnumerable<Product> products;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, Dietownik.GetHttpClient().BaseAddress + "products");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            products = await JsonSerializer.DeserializeAsync<IEnumerable<Product>>(responseStream);
            //products = data.ProductsList;
        }
        else
        {
            
        }
    }
}
